#contact h3 {
  font-size: 16px;
}

.contact-header a {
  text-decoration: none;
}

.contact-title {
  text-align: center;
}

.contact {
  margin-top: 40px;
}

.form-top #fname {
  margin-right: 24px;
}

.contact-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.contact-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

.contact-icon {
  font-size: 50px;
}

.contact-icon a {
  color: #E2E2E2;
}

.contact-link a {
  text-decoration: none;
  color: #E2E2E2;
}

.contact-link a:hover {
  text-decoration: underline;
}

.contact-send-status {
  margin-top: 15px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
