.education-card {
  font-size: 16px;
  background: transparent;
  margin: 8px 0px 20px 0px;
}

.education-card img {
  margin: 0px 8px 60px 0px;
  height: 52px;
  margin-bottom: 8px;
}

.education-le-wagon a {
  color: black;
  text-decoration: none;
  opacity: 0.9;
  margin-bottom: 8px;
}

/*.education-le-wagon img {
  margin-left: 4px;
}*/

.education-le-wagon p {
  margin-bottom: 0px;
}

.education-header {
  align-items: center;
  margin-bottom: 8px;
}

.about-education h3 {
  text-align: center;
}

.education-header a {
  font-size: 20px;
}

.education-lse h5 {
  margin-bottom: 0px;
}

.education-lse p {
  margin-bottom: 0px;
}

/*@media (max-width: 1000px) {
  #le-wagon-show {
    padding-bottom: 24px;
  }
}*/

/*@media (max-width: 1000px) {
  .show-btn-lse {
    width: 5%;
    margin-bottom: 12px;
  }
  .show-btn-le-wagon {
    width: 5%;
    margin-bottom: 12px;
  }
}*/

@media (min-width: 1000px) {
  .education-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
  }
  .about-education h3 {
  text-align: left;
  }
  .about-education hr {
    display: none;
  }
}


