/*.card-service {
  border-radius: 2px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}*/

.card-service {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-service > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-service h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-service h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 0px 0px 8px 8px;
}

.card-service h4 {
  margin-bottom: 8px;
  font-size: 18px;
  margin-left: 8px;
}

.card-service h5 {
  font-size: 16px;
  opacity: .7;
  line-height: 1.6;
}

.card-service .card-service-infos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 16px 16px 0px 16px;
}

.card-service-infos-header-left h5 {
  margin: 8px 0px 16px 0px;
}

.card-service-infos-header i {
  margin-left: 8px;
  padding: 8px;
  border: 2px solid rgba(67, 198, 198, 0.7);
  border-radius: 50%
}

.card-service hr {
  margin-top: 0px;
}

.fullstack-hide {
  padding: 0px 16px 0px 16px;
}

.finance-hide {
  padding: 0px 16px 0px 16px;
}

.consulting-hide {
  padding: 0px 16px 0px 16px;
}

/*.card-service {
  height: 204px;
  display: flex;
  border-radius: 2px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: scroll;
}

.card-service-infos {
  overflow: auto;
}

.card-service img {
  height: 100%;
  position: sticky;
  width: 220px;
  object-fit: cover;
  border-radius: 2px;
}

.card-service h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}



.card-service h5 {
  font-size: 16px;
  line-height: 1.6;
  opacity: .7;
  margin-bottom: 0px;
}

.card-service i {
  padding: 0px;
  text-align: center;
  margin-right: 12px;
}

.service-title-icon {
  align-items: center;
  margin-bottom: 4px;
}

.card-service-infos {
  position: relative;
  padding: 12px;
}*/

/*@media (max-width: 528px) {
  .card-service img {
    height: 100%;
    position: sticky;
    width: 120px;
    object-fit: cover;
    border-radius: 2px;
  }
}
*/


